#auction-body{
  background-color: rgb(241, 250, 238);
}
#invite-modal {
  background-color: rgba(100, 100, 100, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
  display: none;
  z-index: 3;
  justify-content: center;
}
#invite-modal-content {
  background-color: rgb(241, 250, 238);
  padding: 20px;
  width: 300px;
  margin: 20px auto;
  border-radius: 20px;
  flex:flex-basis;
  padding-bottom: 40px;
  height: 170px;
}
#invite-modal-content input{
	height: 50px;
  border-radius: 20px;
	width: 200px;
  z-index: 4;
}
#invite-modal-content button{
	height: 100px;
	width: 100px;
	background-color: rgb(69, 123, 157);
	color: rgb(241, 250, 238);
  border-radius: 25%;
	margin-top: 20px;
}
form {
  color: rgb(29, 53, 87);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
#esc{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  float: right;
  margin: -10px -10px 0 0;
  cursor: pointer;
  color: rgb(230, 57, 70);
}
#user-info{
  display: flex;
  border: 10px solid rgb(168, 218, 220);
  margin-top: 5vh; 
}
#list{
  width: 15vw;
  border: 5px solid rgb(29, 53, 87);
  /*padding: 5vh 0;*/
}
#list h3{
  margin-top: 0;
  color: rgb(29, 53, 87);
  text-align: center;
}
#user-view{
  width: 85vw;
  border: 5px solid rgb(29, 53, 87);
  color: rgb(29, 53, 87);
}
.user-name{
  color: rgb(29, 53, 87);
  padding: 1vh 0 .5vh 1vw;
}
.user-name:hover{
  text-decoration: underline;
  cursor: pointer;
}
