.head{
	height: 10vh;
	display: flex;
	justify-content: space-around;
	background-color: rgb(29, 53, 87);
	color: rgb(241, 250, 238);
	line-height: 10vh;
	text-align: center;
}
.head h1{
	margin: 0;
}
#add-new-btn{
	height: 10vh;
	width: 20%;
}
#add-new-btn:hover{
	background-color: rgb(69, 123, 157);
}
#summary-holder{
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid rgb(230, 57, 70);
}
#summary{
	display: flex;
	justify-content: space-around;
}
.summary-box{
	text-align: center;
	width: 25%;
	border: 10px solid;
	border-color: rgb(168, 218, 220);
	margin-bottom: 5vh;
}
#pool-holder{
	display: flex;
	justify-content: space-around;
	/*flex-wrap: wrap;*/
}
.pool-card{
	width: 25%;
	border: 10px solid;
	border-color: rgb(168, 218, 220);
}
.pool-card h3{
	text-align: center;
}
.pool-card h3:hover{
	text-decoration: underline;
	cursor: pointer;
}
#pool-modal {
  background-color: rgba(100, 100, 100, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
  display: none;
  z-index: 3;
  justify-content: center;
}
#pool-modal-content {
  background-color: #eaeaea;
  padding: 20px;
  width: 300px;
  margin: 20px;
  border-radius: 20px;
  flex:flex-basis;
  padding-bottom: 40px;
  height: 450px;
}
#pool-modal-content input{
	height: 30px;
  border-radius: 20px;
	width: 200px;
  z-index: 4;
}
#pool-modal-content button{
	height: 100px;
	width: 100px;
	background-color: midnightblue;
	color: white;
	margin-top: 20px;
}
form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}



















