#login-body{
	background-color: rgb(29, 53, 87);
	height: 100vh;
}
#login-body h3{
	margin: 0 auto;
	text-align: center;
	color: rgb(230, 57, 70);
}
#buffer{
	height: 10vh;
}
#title{
	color: rgb(241, 250, 238);
	text-align: center;
	margin-bottom: 5vh;
}
#title h1{
	margin-bottom: 0;
}
#title a{
	color: rgb(241, 250, 238);
}
.form{
	margin: 0 auto;
	height: 25vh;
	width: 50vw;
	background-color: rgb(241, 250, 238);
	margin-bottom: 10vh;
	border: 10px solid rgb(69, 123, 157);
}
.form h2{
	color: rgb(29, 53, 87);
	text-align: center;
}
.form input, button{
	width: 50%;
	margin: 0 auto;
}
.form button{
	color: rgb(29, 53, 87);
}